:root {
  --bg-0: #6311a1;
  --bg-1: #4d27c5;
  --bg-2: #0e1138;
  --bg-3: #16263a;
  --bg-4: #124c9c;
  --bg-5: #012b8c; 
  --bg-6: #00834d;
  --bg-secondary-0: #c9c9cb;
  --bg-secondary-1: #1c035d;
  --bg-secondary-2: #141646;
  --bg-secondary-3: #0d131b; 
  --bg-secondary-4: #27d0df;
  --bg-secondary-5: url('./assets/interior.jpg') 0/cover no-repeat;
  --bg-secondary-6: #00b76b;
}
*{
  box-sizing: border-box;
  /* outline: 2px solid black; */
}

html,body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.container{
  display: flex;
  background-color: #444;
  width: 100vw;
  height: 100vh;
}
.info {
  position: relative;
  width:40%;
 background: var(--bg-0);
 transition: background 0.6s ease-in-out;
}
.ndisplay{
  visibility: hidden;
}
.circle{
  position: absolute;
  top: 10vh;
  z-index: 10;
  right: -50%;
  transform: translateX(-60%);
  border-radius: 50%;
  height: 25vw;
  display: flex;
  background: var(--bg-0);
  transition: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  aspect-ratio: 1/1;
  overflow: visible;
}
.assets{
  background: var(--bg-secondary-0);
  /* background-size: cover !important; */
  position: relative !important;
  transition: background 0.6s ease-in-out;
  flex-grow:1; 
}
/* .text-slider { */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: end; */
/* } */
ul {
  list-style: none;
  overflow: hidden;
}
/* .circle li { */
/*   /1* justify-content: end; *1/ */
/* } */
li{
  color: white;
  transition: transform 1s;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.subscript-container,.medium-container{
  height: 2rem;
  font-weight: 400;
}
.medium-container li{
  flex-grow: 1;
}
.medium ,.text-end{
  font-size: 1.4rem;
}
.text-slider{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: visible !important;
}
.text-slider ul {
  padding: 0;
  transform: translateX(-25%);
}
/* .align-left, .align-right { */
/*   transform: translateX(-30%); */
/* } */
.align-center li {
  justify-content: center !important;
}
.align-right li{
  flex-grow: 1;
  justify-content: end !important;
}
.ABC,.large-container{
  height: 5rem;
  overflow-y: hidden;
}
.large {
  font-size: 3.5rem;
  font-weight: 600;
}
.bottom-left{
  margin-top: 70vh;
}
.ABC{
  margin: 0;
  padding: 0;
}
.best-company {
  height: 10vh;
  margin: 0;
  padding: 0;

}
.best-company li{
  height: 10vh;
}
.bottom-left {
  margin-left: 3vw;
}
.img-container-0{
  position: absolute;
  display: flex;
  bottom: 50%;
  right: 50%;
  transform: translate(50%,50%)
}
#img3{
  position: absolute;
  bottom: 0;
  left: 10vw;
  width: 30%;
  min-width: 250px;
}

#img4 {
  position: absolute;
  width: 30%;
  top: 0;
  right: 5rem;
  min-width: 250px;
}

#img5 {
  width: 35%;
  min-width: 250px;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 10vw;
}

#img6 {
  width: 28%;
  min-width: 250px;
  position: absolute;
  top: -16%;
  right: 5rem;
}

#img7 {
  position: absolute;
  top: -10vh;
  left: 0;
  width: 40%;
  min-width: 300px;
}
#img8{
  position: absolute;
  min-width: 250px;
  bottom: 0;
  left: 5vw;
  width: 28%;
}

#img9 {
  width: 26%;
  position: absolute;
  min-width: 250px;
  bottom: 50%;
  transform: translateY(40%);
  right: 10vw;
  z-index: 7;
}

#img10{
  position: absolute;
  top: -17.5vh;
  width: 17%;
  right: 1vw;
  min-width: 140px;
}

#img11 {
  position: absolute;
  bottom: -9vh;
  right: -2vw;
  width: 38%;
  min-width: 250px;
}

#img12 {
  position: absolute;
  left: 5vw;
  top: -16vh;
}

#img13 {
  position: absolute;
  bottom: -15vh;
  left: 5vw;
}

#img14 {
  position: absolute;
  top: -5vh;
  left: 50%;
  transform: translateX(-50%);
}

#img15 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,40%);
}

#img16{
  position: absolute;
  right: 4vw;
  bottom: 50%;
  transform: translateY(50%);
}
#img12,#img13,#img14,#img15,#img16 {
width: 25%;
min-width: 200px;
}

#img17{
  position: absolute;
  width: 100%;
  bottom: 50%;
  transform: translateY(50%);
}

.img-container-6 {
  position: absolute;
  bottom: -5vh;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: row-reverse;
}
#img18{
  position: absolute;
  left: 50%;
  width: 20vw;
  min-width: 250px;
  bottom: -2.5vh;
}
#img19{
  position: absolute;
  width: 24vw;
  min-width: 300px;
  right:50%; 
  z-index: 4;
  bottom: -2.5vh;
  transform: translateX(28%);
}

.assets img{
  opacity: 0;
}
.assets div {
  transition: opacity 1s ease-out;
}


