:root {
  --bg-0: #6311a1;
  --bg-1: #4d27c5;
  --bg-2: #0e1138;
  --bg-3: #16263a;
  --bg-4: #124c9c;
  --bg-5: #012b8c; 
  --bg-6: #00834d;
  --bg-secondary-0: #c9c9cb;
  --bg-secondary-1: #1c035d;
  --bg-secondary-2: #141646;
  --bg-secondary-3: #0d131b; 
  --bg-secondary-4: #27d0df;
  --bg-secondary-5: url('./assets/interior.jpg') 0/cover no-repeat;
  --bg-secondary-6: #00b76b;
  --ball-color: rgb(0, 146, 255);
}
*{
  box-sizing: border-box;
  /* outline: 2px solid black; */
}

::-webkit-scrollbar {
  display: none;
}
html,body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.container{
  display: flex;
  background-color: #444;
  width: 100vw;
  height: 100vh;
}
.mob-container{
  display: none;
}
.info {
  position: relative;
  width:40%;
 background: var(--bg-0);
 transition: background 0.6s ease-in-out;
}

.wrapper,.circle {
  position: absolute;
  top: 10vh;
  right: 0;
  transform: translateX(30%);
  border-radius: 50%;
  width: 25vw;
  aspect-ratio: 1/1;
}
.circle{
  z-index: 10;
  background: var(--bg-0);
  transition: inherit;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  z-index: 100;
}

.wrapper svg{
  position: absolute;
  z-index: 100;
}

svg .transrgwht{
 transition: stroke-dasharray 1s ease-in-out;
}

.assets{
  background: var(--bg-secondary-0);
  /* background-size: cover !important; */
  position: relative !important;
  transition: background 0.6s ease-in-out;
  flex-grow:1; 
}
/* .text-slider { */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: end; */
/* } */
ul {
  list-style: none;
  overflow: hidden;
}
/* .circle li { */
/*   /1* justify-content: end; *1/ */
/* } */
li{
  color: white;
  transition: transform 1s;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.subscript-container,.medium-container{
  height: 2rem;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0;
}
.medium-container li{
  flex-grow: 1;
}
.medium ,.text-end{
  font-size: 1.4rem;
}
.text-slider{
  top: 13vh;
  right: 5vw;
}
.text-slider ul {
  padding: 0;
  transform: translateX(-50%);
}
/* .align-left, .align-right { */
/*   transform: translateX(-30%); */
/* } */
.align-center li {
  justify-content: center !important;
}
.align-right li{
  flex-grow: 1;
  justify-content: end !important;
}
.ABC,.large-container{
  height: 5rem;
  overflow-y: hidden;
}
.large-container{
  margin-bottom: 0px !important;
  margin-top: 0px;
}
.large {
  font-size: 3.9rem;
  font-weight: 600;
}
.nasa{
  height: 4.8rem !important;
  padding:0 0 10px 0; 
  transform: translateY(-38%);
  /* width: 5vw; */
}
.bottom-left{
  position: absolute;
  bottom: 3vh;
  margin-left: 3vw;
  width: 90%;
}
.special{
  position: relative;
  margin-bottom: 4rem;
}
#page-1,#page-6{
  position: absolute;
  left: 0;
  top: -10vh;
  width: 55%;
  z-index: 101;
  min-width: 200px;
  transition: opacity 0.6s ease-in;
}
#page-6{
  opacity: 0;
}
.ABC{
  margin: 0;
  padding: 0;
}
.best-company {
  height: 11vh;
  margin: 0;
  padding: 0;

}
.best-company li{
  height: 10vh;
  padding: 50px 0px;
}
.img-container-0{
  position: absolute;
  display: flex;
  bottom: 50%;
  right: 50%;
  transform: translate(50%,50%)
}
.img1,.img2{
  /* width: 100%; */
  min-width: 250px;
}
#img3{
  position: absolute;
  bottom: 0;
  left: 10vw;
  width: 30%;
  min-width: 250px;
}

#img4 {
  position: absolute;
  width: 30%;
  top: 0;
  right: 5rem;
  min-width: 250px;
}

#img5 {
  width: 35%;
  min-width: 250px;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 10vw;
}
#img6 {
  width: 28%;
  min-width: 250px;
  position: absolute;
  top: -16%;
  right: 5rem;
}

#img7 {
  position: absolute;
  top: -10vh;
  left: 0;
  width: 40%;
  min-width: 300px;
}
#img8{
  position: absolute;
  min-width: 250px;
  bottom: 0;
  left: 5vw;
  width: 28%;
}

#img9 {
  width: 26%;
  position: absolute;
  min-width: 250px;
  bottom: 50%;
  transform: translateY(40%);
  right: 10vw;
  z-index: 7;
}

#img10{
  position: absolute;
  top: -17.5vh;
  width: 17%;
  right: 1vw;
  min-width: 140px;
}

#img11 {
  position: absolute;
  bottom: -9vh;
  right: -2vw;
  width: 38%;
  min-width: 250px;
}

#img12 {
  position: absolute;
  left: 5vw;
  top: -16vh;
}

#img13 {
  position: absolute;
  bottom: -15vh;
  left: 5vw;
}

#img14 {
  position: absolute;
  top: -5vh;
  left: 50%;
  transform: translateX(-50%) !important;
}

#img15 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,40%) !important;
}

#img16{
  position: absolute;
  right: 4vw;
  bottom: 50%;
  transform: translateY(50%);
}
#img12,#img13,#img14,#img15,#img16 {
width: 25%;
min-width: 200px;
}

#img17{
  position: absolute;
  width: 100%;
  bottom: 50%;
  transform: translateY(50%);
}

.img-container-6 {
  position: absolute;
  bottom: -5vh;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: row-reverse;
}
#img18{
  position: absolute;
  left: 50%;
  width: 20vw;
  min-width: 250px;
  bottom: -2.5vh;
}
#img19{
  position: absolute;
  width: 24vw;
  min-width: 300px;
  right:50%; 
  z-index: 4;
  bottom: -2.5vh;
  transform: translateX(28%);
}

.assets img{
  opacity: 0;
}
.assets div {
  transition: opacity 1s ease-out;
}

.foot {
  display: flex;
  color: white;
}
.case-study {
  font-size: 1.4rem;
}
.skip{
  font-family: monospace;
  letter-spacing: 5px;
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: 1vw;
  margin-top: 5vh;
}
.case-study span{
  font-size: 3rem;
}
.sec{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.sec .top-part{
  width: 100vw;
}
.top-part,.bottom-part{
  height: 50%;
  color: white;
}
.top-part{
  position: relative;
  display: flex;
  justify-content: center;
}
.bottom-part{
  position: relative;
  padding:5rem 3rem;
}
.bottom-part img {
  position: absolute;
  z-index: 60;
  left: 2rem;
  top: 0;
  transform: translateY(-50%);
  width: 30%;
  background: white;
  border-radius: 10px;
  min-width: 280px;
}
#mob-page-1{
  outline: 2px solid var(--bg-0);
}
#mob-page-6{
  outline: 2px solid var(--bg-6);
}
.mob-lg{
  font-size:5.5rem;
  font-weight: 500;
}
.owl-nav{
  display: none;
}
.owl-dots{
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
}
#section-0 .top-part{
  background: var(--bg-secondary-0);
}
#section-0 .bottom-part{
  background: var(--bg-0);
}
#section-1 .top-part{
  background: var(--bg-secondary-1);
}
#section-1 .bottom-part{
  background: var(--bg-1);
}
#section-2 .top-part{
  background: var(--bg-secondary-2);
}
#section-2 .bottom-part{
  background: var(--bg-2);
}
#section-3 .top-part{
  background: var(--bg-secondary-3);
}
#section-3 .bottom-part{
  background: var(--bg-3);
}
#section-4 .top-part{
  background: var(--bg-secondary-4);
}
#section-4 .bottom-part{
  background: var(--bg-4);
}
#section-5 .top-part{
  background: var(--bg-secondary-5);
}
#section-5 .bottom-part{
  background: var(--bg-5);
}
#section-6 .top-part{
  background: var(--bg-secondary-6);
}
#section-6 .bottom-part{
  background: var(--bg-6);
}

#mob-img1{
  margin-left: -2rem;
}
#mob-img2{
  margin-left: -3rem;
}

#mob-img3{
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 5vw;
}
#mob-img4{
  width: 40%;
  position: absolute;
  right: 5vw;
  top:0;
}

#mob-img5{
  position: absolute;
  bottom: 0;
  left: 10vw;
  width: 40%;
  transform: translateY(20%);
  min-width: 220px;
}

#mob-img6{
  position: absolute;
  top: 0;
  right: 10vw;
  width: 30%;
  transform: translateY(-20%);
  min-width: 170px;
}

#mob-img7{
  position: absolute;
  left: 0;
  top: 0;
  transform:  translate(-15%,-15%);
  width: 20%;
  min-width: 200px;
  
}
#mob-img8 {
  position: absolute;
  left: 10vw;
  width: 38%;
  min-width: 200px;
  bottom: 0;
  transform: translateY(40%);
}
#mob-img9 {
  position: absolute;
  right: 10vw;
  width: 38%;
  z-index: 10;
  min-width: 200px;
  top: 0;
  transform: translateY(-20%);
}
#mob-img10,#mob-img11{
  position: absolute;
  width: 22%;
  min-width: 300;
  right: -2vw;
}

#mob-img10b{
  position: absolute;
  width: 26%;
  min-width: 300;
  right: -4rem;
  bottom: 50%;
  transform: translateY(50%);
}

#mob-img10{
  top: -13vh;
}
#mob-img11{
  bottom: -4vh;
}

#mob-img12,#mob-img13{
  position: absolute;
  left: 5vw;
}
#mob-img13{
  bottom: 0;
  transform: translateY(40%);
}
#mob-img12 {
  top: 0;
  transform: translateY(-30%);
}
#mob-img14{
  position: absolute;
  z-index: 12;
  right: 50%;
  top: 0;
  transform: translate(70%,-10%);
}
#mob-img15{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-30%,60%);
}

#mob-img16{
  position: absolute;
  right: 0;
  bottom: 40%;
  transform: translate(30%,50%);
}

#mob-img17{
  width: 100%;
  background-size: cover;
}

#mob-img12,#mob-img13,#mob-img14,#mob-img15,#mob-img16{
  width: 38% !important;
  /* min-width: 170px; */
}

#mob-img19{
  margin-right: -4rem;
}
.behind{
  z-index: 1 !important;
}
.mob-md{
  font-size: 1.5rem;
}
.bottom-part .case-study,.bottom-part .case-study-2{
  font-weight: 500;
  font-size: 1.5rem !important;
}
.case-study-2 {
  margin-top: 2rem;
}
.case-study-2 span{
  padding: 0.8rem 1rem;
  border-radius: 30px;
  margin-left: 10px;
  font-weight: bold;
}
.type-1{
background: #fc2da5;
}
.type-2{
  background: white;
  color: var(--bg-2)
}
.mob-img{
  width: 28% !important;
  min-width: 200px !important;
}
.isolate{
  isolation: isolate !important;
}
@media(max-width:1250px){
  html,body{
    overflow: visible;
  }
  .container{
    display: none;
  }
  .mob-container {
    display: flex;
    margin: 0;
    padding: 0;
  }

  #img18{
    width: 40%!important;
    z-index: -1;
    opacity: 1 !important;
    visibility: visible !important;
    bottom: -2.5vh !important;
    max-height: 100% !important;
    object-fit: contain !important;
  }
  #img19{
    width: 55% !important;
    min-width: 270px !important;
    z-index: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    bottom: -2.5vh !important;
    max-height: 100% !important;
    object-fit: contain !important;
  }
}
@media(min-width:450px) and (max-width:1250px){
  #mob-img13,#mob-img14,#mob-img12,#mob-img15,#mob-img16{
    height: 35vh;
    object-fit: contain;
  }
  #mob-img13{
    bottom: 0;
    transform: translateY(30%);
  }
  #mob-img12 {
    top: 0;
    transform: translateY(-30%);
  }
  #mob-img14{
    position: absolute;
    z-index: 12;
    right: 50%;
    top: 0;
    transform: translate(70%,-10%);
  }
  #mob-img15{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-30%,50%);
  }
}
